.auth{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 396px;
  width: 100%;
  margin: 0 auto;
  padding-top:70px;
  padding-bottom: 70px;
  height: 100vh;
}
.auth__logo{
  align-self: flex-start;
  margin-bottom:40px;
}
.auth__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #4285f4;
    text-decoration: none;
    margin-left: 6px;
  }
  .auth__quest {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #8b8b8b;
  }
 .auth__title {
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #ffffff;
    align-self: flex-start;
}

  
@media (max-width: 320px) {
    .auth__title {
      text-align: center;
      margin: 50px auto 80px auto;
    }
    .auth__quest {
      font-size: 12px;
      line-height: 15px;
    }
    .auth__link {
      font-size: 12px;
      line-height: 15px;
    }
    .auth__logo {
      align-self: flex-start;
      margin-bottom: 0px;
      margin: 0 auto;
  }
  }
  
