.header {
  max-width: 1140px;
  margin: auto;
  height: 74px;
  box-sizing: content-box;
  padding: 0 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* .header__panel_mobile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  background-color: #202020;
  width: 70%;
} */

.header__link {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}
.header__link_type_signup {
  margin-right: 30px;
}
.header__link_type_signin {
  color: #000000;
  background: #3ddc84;
  border-radius: 3px;
  padding: 8px 20px;
}
@media (max-width: 768px) {
  .header {
    padding: 0 30px;
  }
}
@media (max-width: 320px) {
  .header {
    padding: 0 14px;
  }
  .header__link {
    font-size: 10px;
  }
  .header__link_type_signin {
    padding: 5px 12px;
  }
  .header__link_type_signup {
    margin-right: 14px;
  }
}
