.footer__title {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #8b8b8b;
    padding-bottom: 20px;
    border-bottom: 1px solid #424242;
    margin: 79px 0 20px 0;
  }
  .footer__list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
  }
  .footer__item-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #fff;
  }
  .footer__item {
    text-decoration: none;
  }
  .footer__item:not(:last-child) {
    margin-right: 20px;
  }
  .footer__copyright {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #ffffff;
  }
  .footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  